.hamburger {
    background-color: black;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") ;
}

img[alt="fishy"] {
    height: 3rem;
}
 img[alt="el-stang"] {
    height: 30%;
     width: 100%;

 }
#img-div {
    /*position: relative;*/
    background: url(./IMG_5213.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;

}
 #img-text {
     font-size: xxx-large;
     color: white;
     position: sticky;
     top: 4rem;
     left: 17vw;
    display: inline-block;
 }

 #img-text-2 {
     font-size: xxx-large;
     color: red;
     position: sticky;
     top: 7rem;
     left: 17vw;
     display: inline-block;
 }

#releases {
    text-align: center;
}

#about-title {
    text-align: center;
}

#contact {
    text-align: center;
    color: white;
}

#email {
    text-align: center;
    color: white;
}

img[alt="pants-1"] {
    width: 20rem;
}
img[alt="shirt-1"] {
    width: 20rem;
}
img[alt="shirt-2"] {
    width: 20rem;
}
img[alt="shirt-3"] {
    width: 20rem;
}
img[alt="shirt-4"] {
    width: 20rem;
}
img[alt="shirt-5"] {
    width: 20rem;
}
#text {
    text-align: center;
}